*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 }

 body{
    display: flex;
    flex-direction: row;
    background: linear-gradient( to right, rgb(255, 255, 255) 70%, rgb(228, 82, 25) 30%);
}

header div{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.titulo1{
    color: black;
}

.titulo2{
    color: black;
}

.titulo3{
    color: white;
}