*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 }

 body{
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    font-size: 20px;
    background-repeat: no-repeat;
    background: linear-gradient( to right, rgb(255, 255, 255) 70%, rgb(228, 82, 25) 30%);
}

.menu{
    display: flex;
    list-style: none;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
}

.menu li{
    float: left;
    padding-right: 70px;
    padding-top: 50px;
}

.titulo1 li a{
    text-decoration: none;
    color: black;
}

.titulo2 a{
    text-decoration: none;
    color: white;
}

.logo img{
    width: 450px;
    padding-left: 200px;
    padding-top: 30px;
}

.lupa img{
    width: 40px;
    position:absolute;
	margin-left:950px;
	margin-top:45px;
}

main{
    padding-left: 200px;
    padding-top: 30px;
}


main h1{
    padding-top: 90px;
    color: rgb(223, 164, 77);
    position: relative;
    font-size: 120px;
    font-family: 'Frank Ruhl Libre', serif;
}

main h2{
    font-size: 60px;
    font-family: 'Old Standard TT', serif;
}

main p{
    padding-top: 50px;
    font-size: 22px;
    max-width: 380px;
}

.prato img{
    width: 500px;
    position: absolute;
    left: 780px;
    top: 120px;
}